# level0

## 나머지 구하기

### 문제 설명
- 정수 num1, num2가 매개변수로 주어질 때, num1를 num2로 나눈 나머지를 return 하도록 solution 함수를 완성해주세요.

### 제한사항
- 0 < num1 ≤ 100
- 0 < num2 ≤ 100

### 입출력 예
| num1 | num2 | num3 |
|------|------|------|
| 3    | 2    | 1    |
| 10   | 5    | 0    |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 3, num2가 2이므로 3을 2로 나눈 나머지 1을 return 합니다.
- 입출력 예 #2
    - num1이 10, num2가 5이므로 10을 5로 나눈 나머지 0을 return 합니다.

In [1]:
def solution(num1, num2):
    answer = 0
    
    answer = num1 % num2

    return answer

## 숫자 비교하기

### 문제 설명
- 정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.

### 제한사항
- 0 ≤ num1 ≤ 10,000
- 0 ≤ num2 ≤ 10,000

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 2    | 3    | -1     |
| 11   | 11   | 1      |
| 7    | 99   | -1     |

### 입출력 예 설명
- 입출력 예 설명 #1
    - num1이 2이고 num2가 3이므로 다릅니다. 따라서 -1을 return합니다.
- 입출력 예 설명 #2
    - num1이 11이고 num2가 11이므로 같습니다. 따라서 1을 return합니다.
- 입출력 예 설명 #3
    - num1이 7이고 num2가 99이므로 다릅니다. 따라서 -1을 return합니다.

In [2]:
def solution(num1, num2):
    answer = 0

    if num1 == num2:
        answer = 1
    else:
        answer = -1

    return answer

## 두 수의 곱

### 문제 설명
- 정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.

### 제한사항
- 0 ≤ num1 ≤ 100
- 0 ≤ num2 ≤ 100

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 3    | 4    | 12     |
| 27   | 19   | 513    |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 3, num2가 4이므로 3 * 4 = 12를 return합니다.
- 입출력 예 #2
    - num1이 27, num2가 19이므로 27 * 19 = 513을 return합니다.

In [3]:
def solution(num1, num2):
    answer = 0
    
    answer = num1 * num2
    
    return answer

## 두 수의 차

### 문제 설명
- 정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.

### 제한사항
- -50000 ≤ num1 ≤ 50000
- -50000 ≤ num2 ≤ 50000

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 2    | 3    | -1     |
| 100  | 2    | 98     |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 2이고 num2가 3이므로 2 - 3 = -1을 return합니다.
- 입출력 예 #2
    - num1이 100이고 num2가 2이므로 100 - 2 = 98을 return합니다.

In [4]:
def solution(num1, num2):
    answer = 0
    
    answer = num1 - num2
    
    return answer

## 몫 구하기

### 문제 설명
- 정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.

### 제한사항
- 0 < num1 ≤ 100
- 0 < num2 ≤ 100

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 10   | 5    | 2      |
| 7    | 2    | 3      |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 10, num2가 5이므로 10을 5로 나눈 몫 2를 return 합니다.
- 입출력 예 #2
    - num1이 7, num2가 2이므로 7을 2로 나눈 몫 3을 return 합니다.

In [5]:
def solution(num1, num2):
    answer = 0
    
    answer = num1 // num2
    
    return answer

## 두 수의 합

### 문제 설명
- 정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요.

### 제한사항
- -50,000 ≤ num1 ≤ 50,000
- -50,000 ≤ num2 ≤ 50,000

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 2    | 3    | 5      |
| 100  | 2    | 102    |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 2이고 num2가 3이므로 2 + 3 = 5를 return합니다.
- 입출력 예 #2
    - num1이 100이고 num2가 2이므로 100 + 2 = 102를 return합니다.

In [6]:
def solution(num1, num2):
    answer = -1
    
    answer = num1 + num2
    
    return answer

## 두 수의 나눗셈

### 문제 설명
정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.

### 제한사항
- 0 < num1 ≤ 100
- 0 < num2 ≤ 100

### 입출력 예
| num1 | num2 | result |
|------|------|--------|
| 3    | 2    | 1500   |
| 7    | 3    | 2333   |
| 1    | 16   | 62     |

### 입출력 예 설명
- 입출력 예 #1
    - num1이 3, num2가 2이므로 3 / 2 = 1.5에 1,000을 곱하면 1500이 됩니다.
- 입출력 예 #2
    - num1이 7, num2가 3이므로 7 / 3 = 2.33333...에 1,000을 곱하면 2333.3333.... 이 되며, 정수 부분은 2333입니다.
- 입출력 예 #3
    - num1이 1, num2가 16이므로 1 / 16 = 0.0625에 1,000을 곱하면 62.5가 되며, 정수 부분은 62입니다.

In [7]:
def solution(num1, num2):
    answer = 0
    
    answer = int(num1 / num2 * 1000)
    
    return answer

## 나이 출력

### 문제 설명
머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.

### 제한사항
- 0 < age ≤ 120
- 나이는 태어난 연도에 1살이며 1년마다 1씩 증가합니다.

### 입출력 예
| age | result |
|-----|--------|
| 40  | 1983   |
| 23  | 2000   |

### 입출력 예 설명
- 입출력 예 #1
    - 2022년 기준 40살이므로 1983년생입니다.
- 입출력 예 #2
    - 2022년 기준 23살이므로 2000년생입니다.

In [8]:
def solution(age):
    answer = 0
    
    answer = 2022 - age + 1
    
    return answer

## 각도기

### 문제 설명
- 각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

    - 예각 : 0 < angle < 90
    - 직각 : angle = 90
    - 둔각 : 90 < angle < 180
    - 평각 : angle = 180

### 제한사항
- 0 < angle ≤ 180
- angle은 정수입니다.

### 입출력 예
| angle | result |
|-------|--------|
| 70    | 1      |
| 91    | 3      |
| 180   | 4      |

### 입출력 예 설명
- 입출력 예 #1
    - angle이 70이므로 예각입니다. 따라서 1을 return합니다.

- 입출력 예 #2
    - angle이 91이므로 둔각입니다. 따라서 3을 return합니다.
- 입출력 예 #3
    - angle이 180이므로 평각입니다. 따라서 4를 return합니다.

In [9]:
def solution(angle):
    answer = 0
    
    if angle > 0 and angle < 90:
        answer = 1
    elif angle == 90:
        answer = 2
    elif angle > 90 and angle < 180:
        answer = 3
    elif angle == 180:
        answer = 4
    
    return answer

## 짝수의 합

### 문제 설명
- 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

### 제한사항
- 0 < n ≤ 1000

### 입출력 예
| n  | result |
|----|--------|
| 10 | 30     |
| 4  | 6      |

### 입출력 예 설명
- 입출력 예 #1
    - n이 10이므로 2 + 4 + 6 + 8 + 10 = 30을 return 합니다.
- 입출력 예 #2
    - n이 4이므로 2 + 4 = 6을 return 합니다.

In [10]:
def solution(n):
    answer = 0
    
    for i in range(0, n + 1, 2):
        answer += i
    
    return answer

## 배열의 평균값

### 문제 설명
- 정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.

### 제한사항
- 0 ≤ numbers의 원소 ≤ 1,000
- 1 ≤ numbers의 길이 ≤ 100
- 정답의 소수 부분이 .0 또는 .5인 경우만 입력으로 주어집니다.

### 입출력 예
| numbers                                      | result |
|----------------------------------------------|--------|
| [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]              | 5.5    |
| [89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] | 94.0   |

### 입출력 예 설명
- 입출력 예 #1
    - numbers의 원소들의 평균 값은 5.5입니다.
- 입출력 예 #2
    - numbers의 원소들의 평균 값은 94.0입니다.

In [11]:
def solution(numbers):
    answer = 0
    
    answer = sum(numbers) / len(numbers)
    
    return answer

## 양꼬치

### 문제 설명
- 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

### 제한사항
- 0 < n < 1,000
- n / 10 ≤ k < 1,000
- 서비스로 받은 음료수는 모두 마십니다.

### 입출력 예
| n  | k | result  |
|----|---|---------|
| 10 | 3 | 124,000 |
| 64 | 6 | 768,000 |

### 입출력 예 설명
- 입출력 예 #1
    - 10인분을 시켜 서비스로 음료수를 하나 받아 총 10 * 12000 + 3 * 2000 - 1 * 2000 = 124,000원입니다.
- 입출력 예 #2
    - 64인분을 시켜 서비스로 음료수를 6개 받아 총 64 * 12000 + 6 * 2000 - 6 * 2000 =768,000원입니다.

In [12]:
def solution(n, k):
    answer = 0
    
    if n >= 10:
        answer = (n * 12000) + (k * 2000) - ((n // 10) * 2000)
    else:
        answer = (n * 12000) + (k * 2000)
    
    return answer

## 배열 두배 만들기

### 문제 설명
- 정수 배열 numbers가 매개변수로 주어집니다. numbers의 각 원소에 두배한 원소를 가진 배열을 return하도록 solution 함수를 완성해주세요.

### 제한사항
- -10,000 ≤ numbers의 원소 ≤ 10,000
- 1 ≤ numbers의 길이 ≤ 1,000

### 입출력 예
| numbers                   | result                     |
|---------------------------|----------------------------|
| [1, 2, 3, 4, 5]           | [2, 4, 6, 8, 10]           |
| [1, 2, 100, -99, 1, 2, 3] | [2, 4, 200, -198, 2, 4, 6] |

### 입출력 예 설명
- 입출력 예 #1
    - [1, 2, 3, 4, 5]의 각 원소에 두배를 한 배열 [2, 4, 6, 8, 10]을 return합니다.
- 입출력 예 #2
    - [1, 2, 100, -99, 1, 2, 3]의 각 원소에 두배를 한 배열 [2, 4, 200, -198, 2, 4, 6]을 return합니다.

In [13]:
def solution(numbers):
    answer = []
    
    for i in range(0, len(numbers)):
        numbers[i] *= 2
        
    answer = numbers
    
    return answer

## 배열 자르기

### 문제 설명
- 정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때, numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.

### 제한사항
- 2 ≤ numbers의 길이 ≤ 30
- 0 ≤ numbers의 원소 ≤ 1,000
- 0 ≤num1 < num2 < numbers의 길이

### 입출력 예
| numbers         | num1 | num2 | result    |
|-----------------|------|------|-----------|
| [1, 2, 3, 4, 5] | 1    | 3    | [2, 3, 4] |
| [1, 3, 5]       | 1    | 2    | [3, 5]    |

### 입출력 예 설명
- 입출력 예 #1
    - [1, 2, 3, 4, 5]의 1번째 인덱스 2부터 3번째 인덱스 4 까지 자른 [2, 3, 4]를 return 합니다.
- 입출력 예 #2
    - [1, 3, 5]의 1번째 인덱스 3부터 2번째 인덱스 5까지 자른 [3, 5]를 return 합니다.

In [14]:
def solution(numbers, num1, num2):
    answer = []
    
    answer = numbers[num1:num2 + 1]
    
    return answer

## 배열 뒤집기

### 문제 설명
- 정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

### 제한사항
- 1 ≤ num_list의 길이 ≤ 1,000
- 0 ≤ num_list의 원소 ≤ 1,000

### 입출력 예
| num_list              | result                |
|-----------------------|-----------------------|
| [1, 2, 3, 4, 5]       | [5, 4, 3, 2, 1]       |
| [1, 1, 1, 1, 1, 2]    | [2, 1, 1, 1, 1, 1]    |
| [1, 0, 1, 1, 1, 3, 5] | [5, 3, 1, 1, 1, 0, 1] |

### 입출력 예 설명
- 입출력 예 #1
    - num_list가 [1, 2, 3, 4, 5]이므로 순서를 거꾸로 뒤집은 배열 [5, 4, 3, 2, 1]을 return합니다.
- 입출력 예 #2
    - num_list가 [1, 1, 1, 1, 1, 2]이므로 순서를 거꾸로 뒤집은 배열 [2, 1, 1, 1, 1, 1]을 return합니다.
- 입출력 예 #3
    - num_list가 [1, 0, 1, 1, 1, 3, 5]이므로 순서를 거꾸로 뒤집은 배열 [5, 3, 1, 1, 1, 0, 1]을 return합니다.

In [15]:
def solution(num_list):
    answer = []
    
    num_list.reverse()
    answer = num_list
    
    return answer