# 파이썬 연습문제

## 파이썬 기초

In [ ]:
# 다음 파이썬 문법 중 맞은 것을 골라주세요.(3개)
# 1. print = 100
# 2. 10 = a
# 3. k = 100
# 4. 100k = 10000
# 5. a123 = 'abc'
# 6. _cola_ = 'drink'

# 답
# 3, 5, 6

In [ ]:
# 문자를 사용자에게 입력받고, 그 문자를 2번 출력하는 프로그램을 만들어주세요.
# abc를 입력받았을 때,
# 'abcabc'가 출력되어야 합니다.

# 답
print(input() * 2)

abc
abcabc

In [5]:
# 아래 변수를 문자열로 변환 후 리스트형으로 변환하고, 4번째 값을 출력해주세요
# 실행결과는 '4'가 나와야 합니다.
num = 1234567890

# 답
list(str(num))[3]

'4'

## 연산

In [4]:
# 다음 코드의 실행 결괏값을 예상해보세요
a = 100
(a > 100) and (a < 200)
(a > 100) or (a < 200)
(a >= 100) and (a <= 200)
(a >= 100) or (a <= 200)

# 답
# False
# True
# True
# True

True

In [3]:
# 다음 코드의 실행 결괏값을 예상해보세요
b = 25
(b % 2 == 0) and (b % 5 == 0)

# 답
# False

False

In [2]:
# 변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요
# 결과값은 10입니다.
c = 1000

# 답
print(c // 100)

10

In [ ]:
# (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.

# 답
change = int(input())

if change // 5000 > 0:
    print(f"5,000원 {change // 5000}장")
    change %= 5000
if change // 1000 > 0:
    print(f"1,000원 {change // 1000}장")
    change %= 1000
if change // 500 > 0:
    print(f"500원 {change // 500}개")
    change %= 500
if change // 100 > 0:
    print(f"100원 {change // 100}개")

6900
5,000원 1장
1,000원 1장
500원 1개
100원 4개

## 함수

In [1]:
# 다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"

a = 함수1()
print(a)

# 답
# I
# love
# python

I
love
python

In [6]:
# 함수를 이용하여 계산기 프로그램을 만들어주세요.
def plus(num1, num2):
	#이곳을 채워주세요
    return num1 + num2

def minus(num1, num2):
	#이곳을 채워주세요
    return num1 - num2

def multiply(num1, num2):
	#이곳을 채워주세요
    return num1 * num2

def divide(num1, num2):
	#이곳을 채워주세요
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [31]:
# x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)
def square(x, n):
    result = x

    if n > 1:
        result *= square(x, n - 1)

    return result

print(square(2, 3))

27